@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@300&display=swap");

img {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Comfortaa", cursive;
}
.title {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #79b4b7;
  padding: 0;
  margin: 0;
  box-shadow: 3px 5px 30px black;
  opacity: 0.9;
}
.logo {
  transition-duration: 0.4s;
}
.logo:hover {
  background-color: rgb(192, 192, 192);
}
.logo > img {
  width: 100%;
  height: 100%;
}
.navElements {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: max-content;
}
.navElements ul {
  display: flex;
  list-style: none;
}
.navElements li {
  margin: 10px;
}
.navElements div {
  padding: 5px;
}
.navElements a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navElements a:after {
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s, left 0.3s;
    width: 0;
}
.navElements a:hover:after {
    width: 100%;
    left: 0;
}
.theme{
  display: flex;
  align-items:center; 
  margin-right: 10px;
}
.theme > button{
  height: 70%;
  width: 100%;
  border-radius: 10px;
}
#theme_button > div{
  display: inline;
}
.main {
  background-image: url(./assets/back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100vh;
  display: flex;
  color: rgb(83, 81, 81);
}
.bg_text {
  height: 50%;
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
  word-wrap: break-word;
  font-family: "Architects Daughter", cursive;
  font-size: large;
}
.bg_text button {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: none;
  margin-top: 10px;
  margin-left: 50px;
  font-weight: bold;
}
.zaid_skills {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: max-content;
  gap: 10px;
  /* background-color: rgb(255, 255, 255); */
}
.skill_card {
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2em;
  transition-duration: 0.4s;
}
.skill_card > div:first-child,
.skill_card > h2 {
  display: block;
  text-align: center;
}
.skill_card:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.01);
}
.skill_card i {
  color: #79b4b7;
}
.skill_card h2 {
  color: black;
}
.skill_card p {
  color: rgb(87, 87, 87);
}
.frameworks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.frameworks li {
  display: inline;
  padding: 3px;
  font-size: 10px;
  border: 1px solid grey;
  background-color: #9d9d9d;
  color: white;
  font-weight: bold;
  cursor: default;
}
.frameworks li:hover {
  background-color: #7a7979;
  cursor: pointer;
}
.skills_section {
  background-color: #fefbf3;
}
h1 {
  font-family: "Comfortaa", cursive;
}
h1 > span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
h1 > span:hover::after {
  width: 50%;
}
.projects{
  width: 40%;
  height: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.project_container > img{
  height: 50%;
  border-radius: 20px;
}
.project_container > img:hover{
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.project_container{
  /* border: 1px solid white; */
  border-radius: 10px;
  overflow: hidden;
}
.project_container h3{
  text-align: center;
}
.project_container p{
  text-align: center;
}
.readmore{
  text-align: center;
}
.readmore button{
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.readmore button:hover{
  background-color: rgb(168, 168, 168);
  transition-duration: 0.4s;
}
.project_container:hover{
  border: 1px solid black;
  transition-duration: 0.4s;
  border-radius: 20px;
}
.testimonials {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 10px;
}
.review {
  padding: 5px;
  margin: 0 auto;
  column-gap: 10px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
  overflow: hidden;
}
.review:hover {
  transform: scale(1.03);
}
.review_header {
  display: flex;
  flex-direction: column;
}
.review p {
  color: #9d9d9d;
}
.review p i {
  opacity: 0;
  color: gold;
}
.review img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
.review img:hover {
  transform: scale(1.05);
  transition-duration: 0.4s;
}
.name {
  align-items: center;
}
.name h3 {
  margin: 0;
}
.name p {
  color: black;
  margin-top: 5px;
  font-size: 0.8em;
}
.stars {
  color: gold;
}
.form_container {
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_container p {
  /* color: grey; */
  text-align: center;
  font-size: 15px;
}
input {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
textarea {
  display: block;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.submit {
  display: inherit;
  margin: 0 auto;
  background-color: #87bcbe;
  color: white;
  cursor: pointer;
}
footer {
  background-color: #051120;
  color: white;
  position: relative;
  bottom: 0;
  text-align: center;
  height: max-content;
  width: 100%;
  padding-top: 30px;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer > div{
  position: relative;
  bottom: 0;
}
.social_media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social_media li {
  display: inline;
  padding: 0;
  margin: 5px;
}
.social_media a {
  text-decoration: none;
  color: white;
}
.facebook:hover,
.linkedin:hover {
  color: #0080ff;
}
.github:hover {
  color: #969696;
}
.youtube:hover {
  color: red;
}
.last_services {
  font-size: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.last_services p{
  margin: 0 auto;
}
.rights {
  color: grey;
  font-size: 10px;
  padding: 0;
  margin-top: 0;
}
.rights p{
  margin: 0 auto;
  margin-bottom: 20px;
}
/* testimonials page */
#testimonial_container{
  background-image: url(./assets/testimonial_bg.jpg);
  height: 90vh;
}
@media screen and (min-height:1024px){
  .main{
    background-image: url(./assets/dev2.jpeg);
    background-size: cover;
    height: 40vh;
  }
  .projects{
    grid-auto-rows: min-content;
  }
  .project_container > img{
    height: 30%;
  }
  .footer{
    position: relative;
    bottom: 0;
  }
}
@media screen and (max-width: 877px) {
  body {
    padding: 0;
    margin: 0;
  }
  .skill_card > h2 {
    display: block;
  }
  .main {
    background-size: cover;
  }
  .zaid_skills {
    display: flex;
    flex-direction: column;
  }
  .skill_card {
    margin: 20px;
  }
  .projects{
    width: 80%;
  }
  .testimonials {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: max-content;
    width: 50%;
    margin: 0 auto;
    gap: 10px;
  }
  input {
    display: block;
  }
  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form_container p {
    width: 50%;
  }
}

@media screen and (max-width: 785px) {
  .main{
    background-image: url(./assets/dev2.jpeg);
    background-size: cover;
    height: 50vh;
  }
  .navbar {
    height: max-content;
    position: static;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar img {
    width: 100px;
  }
  .navElements ul {
    flex-direction: column;
    padding-left: 0;
    margin: 0;
  }
  .navElements li {
    width: 100%;
    text-align: center;
  }
  .zaid_skills {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: none;
    gap: 5px;
  }
  .skill_card {
    width: 80%;
  }
  .form_container{
    height: 50vh;
  }
}
@media screen and (max-width: 600px) {
  .frameworks li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .bg_text{
    width: 90%;
    margin-left: 0;
  }
  .navbar {
    width: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
  }
  .projects{
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .testimonials {
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: none;
  }
  .skill_card{
    margin: 0;
  }
  .main{
    background-image: url(./assets/dev2.jpeg);
  }
  .last_services p{
    width: 100%;
  }
  .rights p{
    width: 100%;
  }
}
@media screen and (max-width:415px){
  .projects{
    row-gap: 15px;
  }
}
@media screen and (max-width:360px){
  .navbar{
    padding-bottom: 20px;
  }
  .skill_card{
    margin: 0 auto;
  }  
  .zaid_skills{
    gap: none;
    row-gap: 20px;
  }
  .projects{
    row-gap: 15px;
  }
  .form_container{
    width: 90%;
    margin: 0;
    margin-right: 0;
  }
  .last_services p{
    width: 100%;
    font-size: 1.3em;
  }
  .rights p{
    width: 100%;
    font-size: 1em;
  }
  footer{
    width: 120%;
  }
}
@media screen and (max-width:320px){
  .main{
    background-image: none;
    height: 60vh;
  }
  .bg_text{
    width: 90%;
    margin: 0;
  }
  .bg_text button{
    /* margin: 0; */
    background-color: #79b4b7;
  }
}